<!DOCTYPE html>
<html lang="en" class="h-100" data-bs-theme="dark">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="theme-color" content="#000000" />
    <meta
      name="description"
      content="A simple random quote from a quotesfile"
    />
    <title>Web Fortune</title>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN"
      crossorigin="anonymous"
    />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/fork-awesome@1.2.0/css/fork-awesome.min.css"
      integrity="sha256-XoaMnoYC5TH6/+ihMEnospgm0J1PM/nioxbOUdnM8HY="
      crossorigin="anonymous"
    />
    <style>
      @font-face {
        font-family: "Iosevka";
        font-style: normal;
        font-display: swap;
        font-weight: 400;
        src: url(https://cdn.jsdelivr.net/fontsource/fonts/iosevka@latest/latin-400-normal.woff2)
            format("woff2"),
          url(https://cdn.jsdelivr.net/fontsource/fonts/iosevka@latest/latin-400-normal.woff)
            format("woff");
      }
      body {
        font-family: Iosevka, monospace;
      }
    </style>
    <script
      src="https://unpkg.com/htmx.org@1.9.8"
      integrity="sha384-rgjA7mptc2ETQqXoYC3/zJvkU7K/aP44Y+z7xQuJiVnB/422P/Ak+F/AqFR7E4Wr"
      crossorigin="anonymous"
    ></script>
    {{- with .PlausibleDomain -}}
      <script defer data-domain="{{ . }}" src="https://plausible.io/js/script.js"></script>
    {{- end -}}
  </head>
  <body class="h-100">
    <div
      class="h-100 d-flex flex-column align-items-center justify-content-center"
    >
      <div class="flex-grow-1"></div>
      <div class="card shadow" id="quote-wrapper">{{ .Wrapped }}</div>
      <div class="mt-4 d-flex flex-row align-items-center">
        <button
          class="btn btn-sm btn-outline-secondary float-right mx-2"
          title="copy permalink to clipboard"
          onclick="navigator.clipboard.writeText(document.getElementById('quote-hash').innerText)"
        >
          <i class="fa fa-link"></i>
        </button>
        <button
          class="btn btn-sm btn-outline-secondary float-right mx-2"
          title="copy quote to clipboard"
          onclick="navigator.clipboard.writeText(document.getElementById('plain-quote').innerText)"
        >
          <i class="fa fa-clipboard"></i>
        </button>
        <button
          class="btn btn-sm btn-outline-secondary float-right mx-2"
          title="click for another quote"
          hx-get="/html"
          hx-target="#quote-wrapper"
        >
          <i class="fa fa-refresh"></i>
        </button>
      </div>
      <div class="flex-grow-1"></div>
      <footer class="p-4 text-secondary">
        &copy; Sumner Evans 2023.
        View the
        <a href="https://github.com/sumnerevans/webfortune" target="_blank">site source code</a>.
        {{ with .SourceURL }}
          View the <a href="{{ . }}" target="_blank">quotesfile</a>.
        {{ end }}
      </footer>
    </div>
  </body>
</html>
