package templates

import (
	"github.com/sumnerevans/webfortune/quotesfile"
)

templ Quote(hostRoot string, quote quotesfile.Quote) {
	<div id="plain-quote" class="d-none">{ quote.Text() }</div>
	<div id="quote-hash" class="d-none">{ quote.Permalink(hostRoot) }</div>
	<figure id="quote" class="quote p-4 m-0">
		<blockquote class="m-0">
			@quote.QuoteHTML()
		</blockquote>
		@quote.SourceHTML()
	</figure>
}
